<link href="css/wizard/style.css" rel="stylesheet">
<link href="css/exito.css" rel="stylesheet">
<div class="main" id="page-content">

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-trans ">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-9" style="text-align-last: left">
                            <h3>POLÍTICA DE PREVENCIÓN DE RIESGOS PSICOSOCIALES </h3>
                        </div>
                        <div class="col-sm-3" style="text-align-last: left; ">
                            <button type="button" class="btn  btn-sm  btn-primary buttonStyle " ng-click="entrar()" >Ir a cuestionario
                            </button>
                        </div>

                    </div>
                </div>


                <!-- <div id="pdfReferenceContent"   class="panel-body textoStyle textSize" ng-click='deshabilitar()'>
                    <object  class='' data='../pdf/PoliticadePrevenciondeRiesgosAutorizada.pdf#toolbar=0;' width='100%' height='480px' onclick="alert('No tiene permiso para descargar el documento')"  >
                    
                </div> -->
                <!-- <div onclick="alert('No tiene permiso para descargar el documento')"> </div> <object id="ifDocument" data='../pdf/PoliticadePrevenciondeRiesgosAutorizada.pdf#toolbar=0;' type="application/pdf" width="100%" height='480px' onclick="alert('No tiene permiso para descargar el documento')"><p>Alternative text - include a link <a href="../pdf/PoliticadePrevenciondeRiesgosAutorizada.pdf#toolbar=0;">to the PDF!</a></p></object> </div>          -->
                <div class="contenedor">

                    <div class="pdf">
                        <object data='../pdf/PoliticadePrevenciondeRiesgosAutorizada.pdf#toolbar=0;'
                            type="application/PDF" width="850px" height="650px" align="right"></object>
                    </div>

                    <div class="bloqueo">
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>