<link href="css/exito.css" rel="stylesheet">
<div id="page-content">
    <hr class="new-section-sm bord-no">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-trans text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Se guardó la información con éxito.</h3>
                </div>
                <div class="panel-body">
                    <p>Muchas gracias por contestar el cuestionario.</p>
                    <p class="space-top">
                        <span class="">
                            <i class="ti-check iconoExito"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>