<link href="css/wizard/style.css" rel="stylesheet">
<link href="css/exito.css" rel="stylesheet">
<div class="main" id="page-content">

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-trans text-center">
                <div class="panel-heading">
                    <h2 >BIENVENIDO AL PORTAL DE PREVENCIÓN DE RIESGOS PSICOSOCIALES </h2>
                </div>
                <div class="panel-body textoStyle textSize">
                    <p><strong>Lee cuidadosamente los siguientes puntos y responde el cuestionario con
                            veracidad</strong>
                    </p>
                    </br>
                    <ul >
                        <li type="disc"><strong>El objetivo del cuestionario es identificar si has sido sujeto de
                                acontecimientos traumáticos severos que requieran valoración clínica.</strong>
                        </li>
                        </br>
                        <li type="disc"><strong>Llena correctamente los campos solicitados. </strong>
                        </li>
                        </br>
                        <li type="disc"><strong> Recuerda que tu información es protegida de acuerdo al aviso de
                                privacidad para trabajadores de la empresa.</strong>
                        </li>
                    </ul>



                </div>
                <div class="col-sm-6" style="text-align-last: right;">
                    <button type="button" class="btn  btn-sm  btn-primary buttonStyle " ng-click="entrarEncuesta()">Las
                        instrucciones me han quedado claras </button>
                </div>
                <div class="col-sm-6" style="text-align-last: left; ">
                    <button type="button" class="btn  btn-sm  btn-primary buttonStyle " style="width: 233px;" ng-click="salirEncuesta()">
                            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;   Salir  </button>
                </div>
            </div>
        </div>
    </div>

</div>