<link rel="stylesheet" href="css/menu.css">
<div id="wrapper">
    <div id="sidebar-wrapper">
        <nav class="sidebar">
            <ul class="sidebar__toggled">
                <li><a href="javascript:void(0)" id="main-toggle" class="sidebar-toggle">Menu</a></li>
            </ul>
        </nav>
        <nav class="sidebar">
            <ul>
                <li><a href="/prueba">PRUEBA</a></li>
                <li><a href="/prueba2">PRUEBA2</a></li>
                <!-- <li class="title">Item Group</li>
                <li><a><span class="icon glyphicon glyphicon-link" href="/prueba"></span>Link1</a></li>
                <li><a><span class="icon glyphicon glyphicon-link" href="/prueba2"></span>link2</a></li> -->
            </ul>
        </nav>
    </div>
    <div ui-view></div>
</div>
