<link rel="stylesheet" href="css/menu.css">
<div id="wrapper">
    <div id="sidebar-wrapper">
        <nav class="sidebar">
            <!-- <img src="LoginV3/images/bg-01.jpg" alt="Imagen no disponible" class="fondo-imagen"> -->
            <ul class="sidebar__toggled">
                <li><a href="javascript:void(0)" id="main-toggle" class="sidebar-toggle"></a></li>
            </ul>
        </nav>
        <nav class="sidebar">
            <img src="images/andrade_blanco.png" alt="Imagen no disponible" class="logoAzul">
            <div class="text-center menu-title">
                Panel General
            </div>
            <ul class="tab-link">
                <li><a href="/prueba">Política de prevención de riesgos psicosociales <i class="glyphicon glyphicon-book icono-menu"></i></a></li>
                <li><a href="/prueba2">Cambio de contraseña <i class="glyphicon glyphicon-cog icono-menu"></i></a></li>
            </ul>
        </nav>
    </div>
    <div ui-view></div>
</div>