<link href="css/exito.css" rel="stylesheet">
<div id="page-content">
    <hr class="new-section-sm bord-no">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-trans text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">{{message}}</h3>
                </div>
                <div class="panel-body">
                    <!-- <p ng-show="mostrarM">Validación de cuenta correcta.</p>
                    <p ng-show="mostrarM" class="space-top">
                        <span class="">
                            <i class="ti-check iconoExito"></i>
                        </span>
                    </p> -->
                    <p ng-show="mostrarE">La validación es incorrecta.</p>
                    <!-- <p ng-show="mostrarE" class="space-top">
                        <span class="">
                            <i class="ti-close iconoError"></i>
                        </span>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>